<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDAO">

    <select id="queryOne" resultType="User">
        select id,name,username,password,sex from t_user where username=#{username} and password=#{password}
    </select>

    <insert id="insert">
        insert into t_user values(#{id},#{name},#{username},#{password},#{sex})
    </insert>

</mapper>